<!DOCTYPE html>
<html spellcheck="false" lang="en">
<head>
	<meta charset="UTF-8">

	<title>Test | OKZGN</title>
	<meta name="robots" content="noindex, nofollow">

	<link rel="stylesheet" href="./test/style.css">
	<script src="./test/Component.js"></script>
	<script>
  	const CompA = new Component('CompA', () => {
        console.log('1');
  	})
  	.load(() => {
        const CompB = new Component('CompB', () => {
            console.log('2');
            throw new Error('Something went wrong.');
        })

        return CompB.ok;
  	});

  	// This example uses async/await (ES2017+) for convenience,
  	// but it is not required.
  	const CompC = new Component('CompC', async () => {
        const req = await fetch('./test/data.json');

        if (!req.ok) {
            throw new Error('Request failed: ' + req.status);
        }

        return await req.json();
  	})
  	.load((r) => {
        console.log(3);
        console.info('JSON Request:', r, '...');
        return r;
  	})
  	.fail((e) => {
        console.warn('CompC failed:', e);
  	});

    // Listen to component completion or errors via the .ok promise
  	CompA.ok.then((r) => {
        console.info('Result A:', r);
  	})
    .catch((e) => {
  	  console.error('Error A:', e);
  	});

  	CompC.ok.then((r) => {
        console.info('Result C:', r);
  	})
   .catch((e) => {
 	  console.error('Error C:', e);
 	});
    </script>
</head>

<body>
    <h1>Test:</h1>
    <div data-x>
        <p>Component test. <b>View the developer console and source code directly.</b></p
    </div>
</body>
</html>
